/*------------------- RESET -----------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------------------- VARIABLES -----------------------*/

/* Colors */
:root {
  --header-color: rgba(0, 0, 0, 0.801);
  --base-color: rgb(4, 0, 255);
  --base-color-second: rgb(248, 82, 82);
  --footer-color: rgba(0, 0, 0, 0.801);
  --background-calculator-color: rgba(0, 0, 0, 0.85);
  --background-keys-color: rgb(31, 31, 31);
  --text-key-color: rgb(255, 255, 255);
  --text-color-light: hsla(0, 0%, 98%, 1);
  --span-color: rgb(195, 41, 195);

  --title-color: rgb(255, 255, 255);
  --text-color: black;

  /* fonts */
  --title-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --text-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --key-font: 'Courier New', Courier, monospace;
}

a {
  text-decoration: none;
}
/*------------------- header -----------------------*/
#header {
  border-bottom: 1px solid #000000;
  margin-bottom: 2rem;
  display: flex;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--header-color);
}

#header:hover {
  box-shadow: 0 0 0.75rem 0 var(--base-color);
  background-color: rgb(0, 0, 0);
}
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.container {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  color: var(--title-color);
  font: 700 2rem var(--title-font);
}
.logo span {
  color: var(--span-color);
}
.logo.logo-alt {
  color: var(--span-color);
}
.logo.logo-alt span {
  color: var(--title-color);
}

.toggle {
  color: var(--span-color);
  font-size: 2rem;
  cursor: pointer;
}

.toggle.icon-github:hover {
  font-size: 2.5rem;
}
/*------------------- BASE -----------------------*/

#background {
  font-family: var(--text-font);
  background-image: linear-gradient(
    45deg,
    var(--base-color),
    var(--base-color-second)
  );
  height: 100vh;
  text-align: center;
}

.calculator h1 {
  font-family: var(--title-font);
  color: white;
  text-align: center;

  padding: 1rem;
}

#zero {
  width: 100%;
}
#equal {
  height: 6.4rem;
}
.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 1rem;

  background-color: var(--background-calculator-color);
}
.calculator img {
  max-height: 5rem;
  max-width: auto;
}
.calculator button {
  color: var(--text-key-color);
  background-color: var(--background-keys-color);
  height: 3.125rem;
  width: 3.125rem;
  font-family: var(--key-font);
  font-size: 1.5rem;
  border: none;
}
.calculator button:hover {
  transition: 0.5s;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 0.5rem 0 white;
}

.icon-backspace {
  height: 0.4rem;
  width: auto;
}

/*------------------- show -----------------------*/
.show {
  width: 98.5%;
  height: 1.3rem;
  margin-left: 0.125rem;

  font-family: var(--title-font);
  color: rgba(0, 0, 0, 1);
  background-color: white;

  text-align: right;

  border-style: white;
  margin-bottom: 1rem;
}
p.show {
  padding-right: 0.5rem;
  max-width: 13rem;
}

/*------------------- FOOTER -----------------------*/
footer {
  background: black;
  padding: 2rem 0;
}

footer .containerFooter {
  height: 2.5rem;
  display: flex;

  padding: 2rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

footer .brand h2 {
  margin-bottom: 0.5rem;
}
footer .brand p {
  color: var(--text-color-light);
}

footer .social i {
  color: var(--text-color-light);
  font-size: 2rem;
  padding: 0.5rem;
}

footer .social {
  display: flex;
  transition: 0.5s;
}

footer .social a:hover {
  transform: translateY(-5px);
}

footer .social i.icon-instagram:hover {
  background-image: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s;
}

footer .social i.icon-facebook:hover {
  background-image: linear-gradient(
    45deg,
    #33b4f0 0%,
    #3c7de6 25%,
    #2748dc 50%,
    #1c1fce 75%,
    #0400fa 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s;
}

footer .social i.icon-youtube:hover {
  background-image: linear-gradient(45deg, #ff000d 75%, #fa0000 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s;
}
/*------------------- back to top -----------------------*/

/* script to changing color  */

/*------------------- MEDIA QUERIES -----------------------*/
/* extra large devices: >1200 */
/* large devices: >1023 */
/* large devices: >992 */
/* small devices: >450 */

@media (max-width: 420px) {
  #header {
    width: 100%;
  }
  .container {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }
  .calculator {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 1rem;

    background-color: var(--background-calculator-color);
  }

  footer .social i {
    padding: 0rem;
  }

  footer .containerFooter {
    height: 2.5rem;
    display: flex;

    padding: 2rem;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }

  footer .logo.logo-alt {
    font: 500 1.5rem var(--title-font);
  }
  footer .brand p {
    color: var(--text-color-light);
  }
}
